<div class="page-wrapper">
<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
  <div class="logo">
    <a routerLink="/products">
      <img src="assets/images/logo.png" alt="luv2shop" class="img-responsive">
    </a>
  </div>
  <!-- <div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
      <ul class="list-unstyled navbar-list">
        <li>
          <a routerLink="/category/1" routerLinkActive="active-link">Books</a>
        </li>
        <li>
          <a routerLink="/category/2" routerLinkActive="active-link">Coffee Mugs</a>
        </li>
      </ul>
    </nav>
  </div> -->
 <app-product-category-menu></app-product-category-menu>
</aside>
<!-- END MENU SIDEBAR-->

<!-- PAGE CONTAINER-->
<div class="page-container">
  <!-- HEADER DESKTOP-->
  <header class="header-desktop">
    <div class="section-content section-content-p30">
      <div class="container-fluid">
        <div class="header-wrap">

<!--           commpenetns search
 -->          <app-search></app-search>


          <app-cart-status></app-cart-status>
        </div>
        <div class="account-wrap"></div>
      </div>
    </div>
  </header>
  <!-- END HEADER DESKTOP-->

  <!-- MAIN CONTENT-->
  <router-outlet></router-outlet>

</div>
</div>

<!-- END PAGE CONTAINER -->

<footer>
  <ul>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Help</a></li>
  </ul>
</footer>