
<table class="table  table-hover">
    <thead class="thead-dark">
        <th></th>  
        <th>Name</th> 
        <th>price</th>  
        <th>unite in stock</th>  
          
    
    </thead>
    <tbody>
        <tr *ngFor="let tempProdusct of products">
            <td  class="align-middle"><img src ="{{tempProdusct.imageUrl}} " height="75"/></td> 
            <td  class="align-middle"> {{tempProdusct.name}} </td>
            <td  class="align-middle"> {{ tempProdusct.unitPrice | currency : 'USD' }}</td>
            <td  class="align-middle">{{ tempProdusct.unitsInStock }}</td>
            
        
        </tr>
    </tbody>
    
    </table>

