<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div *ngIf="cartItems.length > 0 ">

                <table class="table table-bordered">
                    <tr>
                        <th width="20%">Product Image</th>
                        <th width="50%">Product Detail</th>
                        <th width="30%"></th>


                    </tr>
                    <tr *ngFor="let tempCartItem of cartItems">
                        <td>
                            <img src="{{ tempCartItem.imageUrl}}" class="img-responsive" width="150px">
                        </td>
                        <td>
                            <p>{{tempCartItem.name}}</p>
                            <p>{{tempCartItem.unitPrice | currency:'USD'}}</p>
                        </td>
                        <td>
                            <div class="items">
                                <label>Quantity</label> {{tempCartItem.quantity}}
                            </div>
                            <p class="mt-2">Subtotal :
                                {{tempCartItem.quantity * tempCartItem.unitPrice |currency:'USD'}}
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td style="font-weight: bold;">
                            <p>Total Quantity : {{totalQuantity}}</p>
                            <p>Shipping : FREE</p>
                            <p>Total Price : {{ totalPrice.toFixed(2) | currency:'USD'}}</p>

                        </td>
                    </tr>
                </table>
            </div>

              <div *ngIf="cartItems?.length == 0" class="alert alert-warning col-md-12" role="alert">
                your shopping crad is empty !!
            </div>
        </div>
    </div>
</div>