<div class="from-header">
    <input #myInput type="text" class="au-input au-input-xl" placeholder="Search for products ...."
        (keyup.enter)="doSearch(myInput.value)" />
    <button (click)="doSearch(myInput.value)" class="au-btn-submit">
        search
    </button>
</div>

<!-- <form class="form-header" onsubmit="return false;" method="GET">
    <input class="au-input au-input-xl" type="text" name="search" placeholder="Search for data ..." />
    <button class="au-btn-submit" type="submit">
      Search
    </button>
  </form> -->